@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  box-sizing: border-box;
}

.login {
  margin: 0 70px;
}

.form input {
  display: block;
}

.Input {
  border: none;
  outline: none;
  padding: 15px;
  width: 300px;
  margin: 25px 0;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: #3c364c;
}

#Sub {
  background-color: #6d54b5;
}

.titel {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 50px;
}

#Create {
  cursor: pointer;
  display: flex;
  font-size: 15px;
  color: #6d54b5;
  text-decoration: underline;
  justify-content: left;
}
